* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1088px;
}

a {
  text-decoration: none;
}

.hero {
  z-index: 9;
  height: calc(100vh - 55px);
  background: url("../images/Image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  color: white;
}

.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: calc(100vh - 55px);
  position: absolute;
  top: 0;
  left: 0;
}

/* navbar styles */
.navbar {
  color: white;
  background-color: #00000066;
  text-transform: uppercase;
  position: relative;
  z-index: 9;
  border: 2px solid #ffffff33;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 5vh;
}

.logo .first {
  color: red;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.links a {
  font-size: 3vh;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  padding: 40px;
}

.links a:hover {
  background-color: #ffffff33;
}

/* info styles */

.header-main {
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.info-text {
  font-size: 18px;
  text-align: center;
}

.info-title {
  font-size: 27px;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-first {
  font-size: 22px;
  background: red;
  color: white;
  border-radius: 50px;
  padding: 22px 55px;
}

.button-second {
  font-size: 22px;
  background: white;
  color: red;
  border-radius: 50px;
  padding: 22px 55px;
}

.circle {
  width: 55px;
  height: 55px;
  display: inline-block;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(0, -50%);
}

.circle > img {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
